@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:wght@300&display=swap");
@import url("components/container.css");
@import url("components/Button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
	background-color:#FFFBF5 ;
}



h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	font-size: 45px;
}

h2,h3,h7{
	font-size: 30px;
	font-family:'Josefin Sans', sans-serif;
}
h4{
	font-size: 20px;
	font-weight: bolder;
	font-family:'Josefin Sans', sans-serif;
}
h5,h6{
	font-size: 22px;
	font-family:'Josefin Sans', sans-serif;
}
h8{ 
font-size:16px }


a {
	text-decoration: none;
	color: black;
}


		a:hover {
			color:grey;
		}


.titre{
	background: #FFFBF5;
            padding: 0.1px;
            margin: 50px;
            border-radius: 4px;
}

.footer{
	background-color: #EEEEEE;
	margin-top: 60px;
	padding: 20px;
	border-radius: 5px;
}

.plus{
	background-color: darkslategrey;
	color:#FFFBF5 ;
	width: 97vw;
	text-align: center;
	padding: 1px;
	border-radius: 3px;


	
}
	

.text1:hover{
	color: grey;
}

.text2:hover{
	color: grey;
}

.text3:hover{
	color: grey;
}
.text4:hover{
	color: grey;
}
.text5:hover{
	color: grey;
}
.text6:hover{
	color: grey;
}
.text7:hover{
	color: grey;
}
.text8:hover{
	color: grey;
}

.list-inline {
	     	list-style: none;
	     	padding: 0px;


	     }
.list-inline li {display: inline;
	     	padding: 10px;
	     }






